a {
  text-decoration: none;
}
div,
section {
  box-sizing: border-box;
}
button,
label {
  list-style: none;
}
img {
  min-width: 100px;
}
.c_blue {
  color: royalblue;
}
.bg_gray {
  background-color: #eee;
}
.bg_white {
  background-color: white;
}
.btn_blue {
  color: white;
  background: royalblue;
  padding: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.btn_ellipse {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1px;
}
.border_btm {
  border: none;
  border-bottom: 2px solid lightgray;
}
.border_right {
  border: none;
  border-right: 2px solid lightgray;
}
.border_top {
  border: none;
  border-top: 2px solid lightgray;
}
.border_all {
  /* border: 8px solid #eee; */
}
.border_btm_blue {
  border-bottom: 3px solid royalblue;
}
.container_width {
  width: 80vw;
  max-width: 1200px;
  height: 800px;
}
progress {
  -webkit-appearance: none;
}
progress::-webkit-progress-bar {
  background-color: #4b433c93;
  height: 30px;
  padding: 5px;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background-color: rgb(83, 255, 83);
  padding: 3px;
  border-radius: 9px;
}
